body {
    background-color: rgb(255, 173, 228);
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 200px;
    color: rgb(255, 142, 200);
    text-align: center;
    
}
#prompt{
    font-family: 'Fredoka One', cursive;
    font-size: 200px;
    font-size: 20vw;
    font-size: 20vh;
    color: rgb(255, 142, 200);
    text-align: center;
    text-shadow: 5px 5px 5px rgba(200, 142, 255, .5);
    

}
#playerzone {
    display: grid;
    place-items: center;
    
}
textarea {
    font-family: 'Fredoka One', cursive;
    resize: none;
    height: 200px;
    width: 1000px;
    position: relative;
    border: none;
    background-color:rgb(200, 142, 255);
    color:rgb(255, 255, 255);
    font-size: 160px;
    text-align: center;
    
}
input {
    font-family: 'Fredoka One', cursive;
    resize: none;
    height: 200px;
    width: 1000px;
    position: relative;
    border: none;
    border-radius: 25px;
    background-color:rgba(200, 142, 255, .5);
    color:rgb(255, 246, 161);
    font-size: 140px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgba(20, 6, 34, 0.25);
    
}
button {
    
    border:none;
    height: 200px;
    width: 1004px;
    background-color:rgb(200, 142, 255);
    color: white;
    font-size: 100px;
    
}
textarea:focus {
    outline: none;
  }
input:focus {
  outline: none;
}

/* input:not(:focus) {
    display: none;
} */

audio{
    background-color: rgba(200, 142, 255, .5);
    display: none;
    
}