* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fredoka One', cursive;
  }

body {
    background-color: rgb(255, 195, 235);
    background-image: url("./background/849790.gif");
    background-repeat: no-repeat;
    background-size: cover;

}

#startScreen {
    color: rgb(255, 0, 106);    
    font-size: 5vw;
    font-size: 5vh;
    background-color: rgba(143, 59, 252, 0.788);
    background-image: url("./background/869910.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:rgb(40, 1, 77);

}



#gameOver {
    display: none;
    color: rgb(255, 246, 161);    
    font-size: 20vw;
    font-size: 20vh;
    background-color: rgb(255, 104, 78);
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-image: url("./background/723262.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    text-shadow: 4px 4px 4px rgba(20, 6, 34, 0.726);    

}

#count {
    font-size: 5vw;    
    font-size: 5vh;
    color: rgb(4, 233, 233);
    text-align: center;
    position: absolute;
    bottom: 1cm;    
}

#prompt {
    font-size: 5vh;  
    color: rgb(252, 162, 209);
    text-align: center;
    margin: 0;
    z-index: -1;
}

#playerzone {
    display: grid;
    place-items: center; 
       
}

#playArea {
    position: absolute;
    resize: none;
    height: 40vh;
    width: 80vw;
    position: absolute;
    border: none;
    border-radius: 25px;
    background-color:rgba(200, 142, 255, 0.15);
    color:rgb(255, 246, 161);
    font-size: 100px;
    font-size: 5vw;
    font-size: 5vh;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgba(20, 6, 34, 0.15);    
    bottom: 6cm;
    left: 5cm;
    right:10cm;
    z-index: -1;
}

#musicOff {
    border:none;
    background: transparent;
    font-size: 3vw;
    font-size: 3vh;
    text-align: center;
    margin: 0 auto;
    color: rgb(4, 233, 233);
    position: absolute;
    right: 0;
    bottom: 0;
}

#musicOn {
    border:none;
    background: transparent;
    font-size: 3vw;
    font-size: 3vh;
    text-align: center;
    margin: 0 auto;
    color: rgb(4, 223, 233);
    position: absolute;
    left: 0;
    bottom: 0;
}

.music {    
    display: inline;
    width: 15vw;
    height: 15vh;
}

textarea:focus {
    outline: none;
}

.correct {
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(117, 255, 186);
}

.incorrect {   
    text-decoration: underline;
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 81, 81);
}

audio {
    display: none;    
}

