body {
    background-color: rgb(255, 176, 229);
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 200px;
    color: rgb(255, 142, 200);
    text-align: center;
    
}
#rounds {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    
    color: rgb(178, 112, 204);
    text-align: center;
    text-shadow: 5px 5px 5px rgba(200, 142, 255, .66);
    margin: 0;
}
#prompt{
    font-family: 'Fredoka One', cursive;
    font-size: 10vw;
    font-size: 10vh;
    color: rgb(255, 142, 200);
    text-align: center;
    text-shadow: 5px 5px 5px rgba(200, 142, 255, .66);
    margin: 0;
    

}
#playerzone {
    display: grid;
    place-items: center;
    margin: 0; 
}
textarea {
    font-family: 'Fredoka One', cursive;
    resize: none;
    height: 200px;
    width: 1400px;
    max-width: 90%;
    position: relative;
    border: none;
    border-radius: 25px;
    background-color:rgba(200, 142, 255, .5);
    color:rgb(255, 246, 161);
    font-size: 160px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgba(20, 6, 34, 0.15);
    
    
}
input {
    font-family: 'Fredoka One', cursive;
    resize: none;
    height: 200px;
    width: 1000px;
    position: relative;
    border: none;
    border-radius: 25px;
    background-color:rgba(200, 142, 255, .5);
    color:rgb(255, 246, 161);
    font-size: 140px;
    text-align: center;
    /* box-shadow: 5px 5px 10px 5px rgba(20, 6, 34, 0.15); */
    
}
#game{
    /* display: none; */
}
#startScreen {
    display: none;
    box-shadow:5px 5px 100px 5px rgba(36, 1, 56, 0.507);
    border:none;
    border-radius: 50px;
    font-family: 'Fredoka One', cursive;    
    font-size: 25vw;
    font-size: 25vh;    
    background-color: rgba(93, 255, 174, 0.705);
    color: rgb(255, 142, 200);
    text-align: center;
    text-shadow: 5px 5px 5px rgba(200, 142, 255, .66);
    margin: 0;
    
}
#startButton {
    
    border:none;
    font-family: 'Fredoka One', cursive;    
    font-size: 25vw;
    font-size: 25vh;    
    background-color: transparent;
    color: rgb(255, 142, 200);
    text-align: center;
    text-shadow: 5px 5px 5px rgba(200, 142, 255, .66);
    margin: 0; 
    
    
}
#musicOn{
    font-family: 'Fredoka One', cursive;  
    border:none;
    background: transparent;
    font-size: 10vw;
    font-size: 10vh;
    text-align: center;
    /* text-shadow: 5px 5px 5px rgba(200, 142, 255, .66); */
    margin: 0;
    color: rgb(255, 93, 93);
}
textarea:focus {
    outline: none;
  }
input:focus {
  outline: none;
}


.correct {
    color:rgba(93, 255, 174,0.705);
}
.incorrect{
    color: rgb(112, 57, 57);
    /* text-decoration: line-through; */
}
audio{
    background-color: rgba(200, 142, 255, .5);
    display: none;
    
}